BLOCKVISION_API_KEY=your_blockvision_api_key
BINANCE_API_KEY=your_binance_api_key
BINANCE_SECRET_KEY=your_binance_secret_key
DASHBOARD_USER=admin
DASHBOARD_PASS=yourpassword
WALLET_954C=your_sui_wallet_address
WALLET_E64C=your_second_sui_wallet_address
WALLET_ETH=your_ethereum_wallet_address
